{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{%block body_block %}
    {% if category %}
        <h1>{{ category.name}}</h1>
        {% if pages%}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>NO pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}

        {% if category %}
            <a href="{% url 'add_page' category.slug %}">Add Page</a>
        {% endif %}
{% endblock %}